img{ max-width: 100%; }
.um-field-error {
    width: auto;
    max-width: 100%;
    background: #C74A4A;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    box-sizing: border-box;
    position: relative;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 20px !important;
    margin: 12px 0 0 0;
    display: inline-block;
}
.um-field-arrow {
    top: -17px;
    left: 10px;
    position: absolute;
    z-index: 1;
    color: #C74A4A;
    font-size: 28px;
    line-height: 1em !important;
}
#form-upload-media{
    padding: 20px;
    border: 2px dashed #a8a5a5;
    text-align: center;
    position: relative;
}
#form-upload-media [name="UploadMedia"]{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.01;
    cursor: pointer;
}
#form-upload-media .btn-button-upload{
    border: 2px dashed #a8a5a5;
    background-color: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    color: #a8a5a5;
    margin-bottom: 20px;
}
#form-upload-media:hover,
#form-upload-media:hover .btn-button-upload{
  border-color: #000;
    color: #000;
}
.item-media{
    text-align: center;
}
#grid-medias .link{
    height: 200px;
    width: 200px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid transparent;
    padding: 10px;
    position: relative;
}
.item-media:hover .link{
    border-color: #000 !important;
    cursor: pointer;
}
#grid-medias .link img{
    display: none;
}
#grid-medias .link.active:after,
#grid-medias .link:hover:after{
    content: "";
    position: absolute;
    background-color: #6ec6e87d;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
#grid-medias .link:hover img{
    display: block;
    position: absolute;
    width: 80px;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    z-index: 2;
}
.btn-default.active {
    background-color: #e9ecef;
    color: #2b2b2b;
}
.item-media .name-media{
    position: absolute;
    bottom: -25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-size: 12px;
}
#grid-medias .item-media:hover .name-media{
    display: none !important;
}
#MediaModal .content .card-body{
    text-align: center;
}
.callout-info .btn-app{
    text-decoration: none;
}
.callout-info .btn-app:hover{
    border-color: #aaa;
    color: #444;
}
.img_featured{
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
}
table.list-media .item-media{
    text-align: left;
}
#list-medias tr:hover td.link a{
    color: #007bff;
    cursor: pointer;
}

.upload-file{
    padding: 20px;
    border: 2px dashed #a8a5a5;
    text-align: center;
    position: relative;
}
.upload-file .file-audio {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.01;
    cursor: pointer;
}
.upload-file > button {
    border: 2px dashed #a8a5a5;
    background-color: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    color: #a8a5a5;
}
.upload-file:hover,.upload-file:hover > button {
    border-color: #000;
    color: #000;
}
#MediaModal .card-primary.card-outline{
    border-top: none;
}
#tabs-library #grid-medias .link{
    width: 150px;
    height: 150px;
}

.item-gallery{
    position: relative;
}
.item-gallery > button{
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
}
.item-gallery:hover > img{
    opacity: 0.25;
}
.form-control.d-error{
   border-color: red;
}
.item-faq-additional_information .btn-tool {
    background: 0 0;
    color: #adb5bd !important;
    font-size: .875rem;
    margin: -.75rem 0;
    padding: .25rem .5rem;
}
.item-faq-additional_information .btn-tool:hover{
    color: #17a2b8 !important;
}