img{
    max-width: 100%;
}
body{
    font-family: 'Rajdhani', sans-serif;
    background-color: #fff;
}

.header-top{
   background-color: #ed2d0d;
    color: #fff;
    font-size: 20px;
    padding-top: 8px;
}
.header-top .headline{
    text-transform: uppercase;
}
.head-contact{
    list-style: none;
    padding: 0;
    display: inline-block;
    margin: 0;
}
.header-top ul li{
    float: left;
    padding: 0 10px;
}
.header-top ul li a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.header-top ul li a i{
    font-size: 20px;
}
.header-main{
    background-color: #0c1b41;
    color: #fff;
    border-bottom: 1px solid #4c566f;
}
.logo{
    margin-top: 20px;
}
.menu-main{
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    height: 100%;
}
.menu-main li{
    float: left;
    height: 100%;
    padding: 30px 5px;
}
.menu-main > li:hover{
    background-color: #fff;
}
.menu-main li a{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.menu-main > li:hover > a{
    color: #0c1b41;
}
.head-mini-cart{
    padding-top: 30px;
}
.head-mini-cart .cart{
    width: 30%;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}
.head-mini-cart .cart a i {
    font-size: 20px;
    color: #fff;
}
#mini-cart{
    background-color: #ed2d0d;
    position: relative;
    top: -12px;
    right: 5px;
    font-size: 14px;
}
.search-product{
    position: relative;
    display: inline-block;
}
.search-product > input{
    font-size: 14px;
    padding: 5px 30px 5px 5px;
    outline: none;
}
.search-product > button{
    position: absolute;
    right: 0;
    top: 5px;
    border: 0;
    background-color: transparent;
}

.footer-area{
    font-family: 'Rajdhani', sans-serif;
   background-color: #0c1b41;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
}
.footer_1 label{
    font-weight: 400;
}
.footer_1 ul{
   list-style: none;
    padding: 0;
}
.footer_1 ul li{
    float: left;
    margin: 5px;
}
.footer_1 ul li a{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: #0c1b41 ;
    border-radius: 50%;
    padding: 2px 8px;
    font-size: 18px;
    cursor: pointer;
}
.footer_2 ul{
    list-style: none;
    padding: 0;
}
.footer_2 h4{
  font-size: 22px;
  font-weight: bold;
}
.footer_2 a{
    cursor: pointer;
}
.footer_2 .contacts li{
    padding-left: 20px;
    position: relative;
}
.footer_2 .contacts a{
    word-wrap: break-word;
}
.footer_2 .contacts a i{
    position: absolute;
    color: #ed2d0d;
    font-size: 15px;
    left: 0;
    top: 4px;
}
.social-facebook{
    color: #1877f2 !important;
}
.social-facebook:hover{
    background-color: #1877f2;
    color: #fff !important;
}
.social-twitter{
    color: #1da1f2 !important;
}
.social-twitter:hover{
    background-color: #1da1f2;
    color: #fff !important;
}
.social-instagram:hover{
    background: linear-gradient(45deg, #f7a84b 0%, #e84a59 50%, #7a39a9 100%);
    color: #fff !important;
}
#CarouselHome .courousel-item{
    background-repeat: no-repeat;
    background-size: cover;
}
#CarouselHome .carousel-item img{
    height:800px;
    opacity: 0;
}
.content-slider{
    position: absolute;
    top: 1px;
    display: flex;
    width: 50%;
    z-index: 1;
}
.content-slider .dataContent{
    background-color: #0c1b41cc;
    color: #fff;
    width: 100%;
    padding: 200px 100px;
}
.content-slider .dataContent h2{
    font-size: 66px;
    font-weight: bold;
}
.content-slider .dataContent label{
    font-size: 50px;
}
.border-content{
    position: relative;
    background-color: transparent;
    border-top: 800px solid #0c1b41cc;
    border-right: 100px solid transparent;
}
#CarouselHome .carousel-control-next,
#CarouselHome .carousel-control-prev {
    height: 50px;
    top: inherit;
    bottom: 20px;
}
#CarouselHome span.carousel-icon{
    border: 1px solid #fff;
    padding: 20px;
    background-size: 20px;
}
.content-slider ul{
    list-style: none ;
    margin: 0;
    padding: 0;
}
.content-slider ul li{
    display: inline-block;
    width: 48%;
    font-size: 17px;
}
.content-slider ul li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.content-slider a.btn-button{
    font-size: 22px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #ed2d0d;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    margin-top: 40px;
    display: inline-block;
}
a.btn-button:hover{
    background-color: #f82d0b;
}
#partners a img{
    filter: grayscale(100%);
    max-height: 50px;
}
#partners a:hover img{
    filter: grayscale(0%);
    cursor: pointer;
}
.Top-Category{
    padding: 0 30px;
}
.section_tittle h2{
    font-size: 45px;
    font-weight: bold;
    color: #0c1b41;
    text-transform: uppercase;
}
.section_tittle h2:after{
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background-color: #ed2d0d;
    margin: 5px auto;
    margin-bottom: 30px;
}
.Item-Category{
    height: 590px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    transition: ease-in-out 0.5s;
}
.Item-Category:after{
    content:'';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #00000030;
    left: 0;
    z-index: 0;
}
.Item-Category:hover:after{
    background-color: #00000070;
}
.Item-Category > .ContentItem{
    position: absolute;
    bottom: 20px;
    color: #fff;
    z-index: 1;
}


.Item-Category > .ContentItem .title{
    font-size: 28px;
    font-weight: bold;
}
.Item-Category > .ContentItem .numberItem{
    font-size: 22px;
    font-weight: 400;
}
.Item-Category > .ContentItem .description{
    font-size: 14px;
    font-weight: 400;
}
.Item-Category > .ContentItem .btn-button{
    font-size: 17px;
    font-weight: 400;
    padding: 5px 10px;
    background-color: #ed2d0d;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
    display: inline-block;
}
.Item-Category > .ContentItem .description,
.Item-Category > .ContentItem .btn-button{
    display: none;
}
.Item-Category:hover > .ContentItem .description,
.Item-Category:hover > .ContentItem .btn-button{
    display: inline-block;
}
.list-product ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-product li{
    margin: 0 10px;
}
.list-product li a{
font-size: 17px;
    color: #b2b2b2;
    text-decoration: none;
    cursor: pointer;
}
.list-product li a.active{
    color: #0c1b41;
    font-weight: bold;
}
.ItemSlider .item-product {
    background-color: #fff;
    color: #fff;
    margin: 20px 10px;
    padding: 10px;
    position: relative;
}
.owl-theme .owl-nav [class*=owl-] {
    color: #D6D6D6;
    font-size: 60px;
    padding: 7px 14px;
    background: transparent;
    display: inline-block;
    cursor: pointer;
    border-radius: 0;
    border: 1px solid #D6D6D6;
    line-height: 30px;
}
#ItemProductSlider .owl-nav > * {
    margin-top: 0;
    position: absolute;
    top: -50px;
}
#ItemProductSlider .owl-nav > *:hover{
    background-color: #ed2d0d;
    color: #fff;
    border-color: #ed2d0d;
}
#ItemProductSlider .owl-nav > .owl-prev{
    left: 10px;
}
#ItemProductSlider .owl-nav > .owl-next{
    right: 10px;
}
.item-product .thumbnail-product{
    border: 1px solid #b2b2b2;
    padding: 40px 0;
    min-height: 350px;
}
.item-product .thumbnail-product img{
    width: auto;
    max-width: 100%;
    display: inline-block;
}
.item-product .SKU{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 15px;
    font-weight: 400;
    color: #0c1b41;
}
.item-product .category{
    font-size: 15px;
    font-weight: 400;
    color: #ed2d0d;
    margin: 10px 0;
}
.item-product .title-product{
    font-size: 17px;
    font-weight: 400;
    color: #0c1b41;
    margin: 10px 0;
    height: 45px;
    overflow: hidden;

}
.item-product .price-product{
    font-size: 17px;
    font-weight: bold;
    color: #0c1b41;
    margin: 15px 0;
}
.section_description{
    font-size: 28px;
    font-weight: bold;
    color: #0c1b41;
    margin: 20px 0;
}
.Our-Newsletter{
    background-color: #f2f2f2;
}
.form-newsletter input{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    color: #0c1b41;
    border-radius: 0;
    outline: none;
    border: 0;
}
.form-newsletter button{
    width: 30%;
    background-color: #ed2d0d;
    border: 0;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0;
    outline: none;
}
.form-newsletter button:hover{
    background-color: #f92e0c;
}

